[2019-04-24 16:26] karmatosed opened #1 "Research"
Listing out all the research needed as this project kicks off:

- [x] Competitive analysis #4

[2019-04-24 16:27] karmatosed opened #2 "Design explorations"
As work begins on this designs will be added to this issue to explore and get feedback.

- [x] Search #5
- [x] Block Details #9
- [x] Previewing #6
- [x] Installing #7
- [x] Misc #8

[2019-04-24 16:28] karmatosed opened #3 "Experience flow diagram"
It would be great to work out all the flows and create a chart so that everyone is on the same page.

[2019-04-28 17:02] melchoyce opened #4 "Competitive analysis"
We'll use this to compile research and screenshots.

[2019-05-01 15:17] itsjusteileen commented on #4
Screenshots of the UI from block plugin [Ghost Kit](https://wordpress.org/plugins/ghostkit/). The plugin has several patterns that lend themselves to editor-side block selection, and potentially, installation.

Using the Inspector Controls area, the user is presented with three panels.
![screenshot-membersrocket com-2019 04 27-16-01-45](https://user-images.githubusercontent.com/6146600/57024292-38

[2019-05-08 21:43] karmatosed commented on #4
Is there a list of products you'd like to view for competitive analysis? It might be good to ask in next week's design meeting for people to either pick one from the list to screenshot. Similarly, it might be good to ask if anyone has any to add to mix.

[2019-05-08 21:47] melchoyce commented on #4
Good question, and the answer is, I'm not sure. I think finding some good examples of in-app purchases, especially apps that let you preview the feature you're purchasing ahead of time, would be good inspiration. Pretty much any freemium product that lets you preview before purchasing could work.

[2019-05-09 01:46] mathetos commented on #4
Similarly, the ["Gutenberg Blocks Template"](https://wordpress.org/plugins/design/) plugin initially comes with ZERO block, but once you open their Gutenberg sidebar panel, you can import the "designs" -- which are essentially sections of Core blocks styled with custom classes and a CSS template.

![image](https://user-images.githubusercontent.com/930724/57421395-727d8900-71c0-11e9-943c-7c643a50b9

[2019-05-13 15:39] melchoyce commented on #4
Jetpack has recently been looking at how to handle blocks only available in paid plans, and I think there  are some ideas we could potentially adapt:

![0 1 message-in-editor](https://user-images.githubusercontent.com/2846578/57634509-710ee080-7573-11e9-99b1-4971f2909304.png)
![0 2 message-in-editor](https://user-images.githubusercontent.com/2846578/57634517-7409d100-7573-11e9-8e98-7e15cea749c4.pn

[2019-05-13 21:39] melchoyce commented on #4
A couple "Freemium" / preview examples:

![best_2423](https://user-images.githubusercontent.com/2846578/57656261-e85d6800-75a5-11e9-96d6-41ab7e6d5db9.jpg)
![best_Screen_Shot_2016-07-29_at_13 45 09](https://user-images.githubusercontent.com/2846578/57656262-e8f5fe80-75a5-11e9-8392-45dce49b9314.jpg)
![IMG_3844](https://user-images.githubusercontent.com/2846578/57656266-ee534900-75a5-11e9-9bee-3c6bf4

[2019-05-14 21:07] melchoyce commented on #4
Search → Take action from results example:

![image](https://user-images.githubusercontent.com/2846578/57732249-ad713800-766a-11e9-9765-c3a2bb05428c.png)

https://www.pttrns.com/applications/584

[2019-05-14 21:10] melchoyce commented on #4
Search results, with people you follow and people you don't follow:

https://mobile-patterns.com/iphone/snapchat/misc-gesture-transition-730

[2019-05-14 21:13] melchoyce commented on #4
More search results that mix stuff you have/stuff you don't have:

https://mobile-patterns.com/iphone/vine/engagement-and-retention-microinteraction-search-438

[2019-05-14 21:26] melchoyce commented on #4
Preview modal for in-app purchase:

https://mobile-patterns.com/iphone/path/actions-in-app-purchases-customization-428
https://mobile-patterns.com/iphone/path/actions-in-app-purchases-messaging-143
(WARNING: NSFW language) https://www.uisources.com/explainer/pacemaker-add-filter-to-mix

[2019-05-16 18:08] karmatosed commented on #4
Some 'wide' examples of searching and suggestions:

Bear:
![2019-05-16 at 18 38](https://user-images.githubusercontent.com/253067/57875147-19d66d80-780a-11e9-9170-786bc83b2d27.png)

![image](https://user-images.githubusercontent.com/253067/57877115-ec3ff300-780e-11e9-8950-98612bb1be06.png)

Apple:
![image](https://user-images.githubusercontent.com/253067/57876167-99653c00-780c-11e9-9238-10c17ab48f

[2019-05-17 21:29] melchoyce commented on #4
Wrote up a post summarizing these: https://make.wordpress.org/design/2019/05/17/block-library-competitive-analysis-recap/

Closing to mark as complete, but feel free to add more examples here or to that p2 post.

[2019-05-17 21:29] #4 closed, assigned to nobody

[2019-05-20 20:37] melchoyce opened #5 "Design Explorations: Discovering blocks via search"
How can people discover new blocks to install via search?

[2019-05-20 20:37] melchoyce opened #6 "Design Explorations: Previewing a block"
How should blocks be previewed before installing?

[2019-05-20 20:38] melchoyce opened #7 "Design Explorations: Installing a block"
What should the process of installing a block look like?

[2019-05-20 20:38] melchoyce opened #8 "Design Explorations: Misc"
Things like handling missing blocks and swapping out one block preview for another.

[2019-05-21 20:46] #1 closed, assigned to melchoyce

[2019-05-21 21:39] melchoyce commented on #3
Here's what I'm thinking:

![image](https://user-images.githubusercontent.com/2846578/58132422-3c43fe80-7bef-11e9-9d03-41ccd6714728.png)
https://whimsical.com/98rHP1AShNHZq2nhBb8jyJ

Anything missing? Any states or situations I haven't accounted for?

[2019-05-23 15:07] georgeolaru commented on #3
Nice flow @melchoyce! One note regarding the second step: considering that there might be multiple blocks accounting for the "slider" type (from different sources), would those be presented on search, even when there is a "slider" block already installed?

[2019-05-23 15:22] melchoyce commented on #3
I think we could consider adding a callout linking to the full block library — but otherwise, if there is an installed result, we shouldn't show suggestions.

Edit: Updated the flow chart in Whimsical to account for this

[2019-05-24 14:47] melchoyce commented on #2
Prior ideas:

![image](https://user-images.githubusercontent.com/2846578/58130416-f3d61200-7be9-11e9-964e-3f8cc5f11374.png)
![image](https://user-images.githubusercontent.com/2846578/58130421-f6d10280-7be9-11e9-9117-7aabe451a2aa.png)
![image](https://user-images.githubusercontent.com/2846578/58130453-06504b80-7bea-11e9-8221-6326b72f213b.png)
![image](https://user-images.githubusercontent.com/28465

[2019-05-24 15:58] melchoyce commented on #5
![Search](https://user-images.githubusercontent.com/2846578/58340956-1bf88780-7e1b-11e9-9251-936ffb68bf65.png)

Some questions:
- What block information should be displayed in the search results? We could do as little as icon, name, and author, or as much as we show in a plugin card (name, description, author, button, more details link, star rating, number of installations, last updated, compatibi

[2019-05-24 19:31] melchoyce opened #9 "Design Explorations: Block Details"
How do we give people enough information about blocks to make informed decisions?

[2019-05-24 19:49] melchoyce commented on #9
![Details](https://user-images.githubusercontent.com/2846578/58352273-16119f00-7e39-11e9-8810-ac790be09c02.png)

I have three ideas here:
1. wp-admin style plugins details modal
2. https://wordpress.org/plugins/ style
3. Stay inside the block library for details
4. No details at all, go straight from search results to previewing in-context

Some questions:
- The wp-admin version would be completel

[2019-05-24 19:56] melchoyce commented on #3
Copied the latest version over:

![image](https://user-images.githubusercontent.com/2846578/58353433-7f46e180-7e3c-11e9-8003-65f2b438e9d4.png)

[2019-05-28 17:04] melchoyce commented on #6
A couple variations on the same general idea of previewing a block in the editor before installing:

![Preview](https://user-images.githubusercontent.com/2846578/58496811-9b05fc80-8148-11e9-9e92-593f4ae29509.png)

Questions:
- Should the preview show a "real" version of the block, with placeholders you can fill out, or should the preview only show a demo?
- Should you be able to adjust the block s

[2019-05-28 17:34] melchoyce commented on #7
I have three ideas here:
1. "Shiny Updates"-style installation in-place. Likely whatever preview UI surrounds the block will fade, along with the "✔Installed" message, after a couple seconds. We could also show a notice here once installation is complete.
2. Open a dialogue and show the "traditional" installation process. I included this because I wanted to cover it, but I think it's 💩
3. Install

[2019-05-28 19:23] melchoyce commented on #8
If you're missing a block (because you imported content from another site, or deleted the plugin, etc.) we could present an option to re-install:

![Missing Block](https://user-images.githubusercontent.com/2846578/58506113-8cc1db80-815c-11e9-9f81-612543ba2cab.png)

The installation process itself would match whatever we decide on in #7.

[2019-05-28 20:57] melchoyce commented on #8
What happens when a block fails to install:

![Errors](https://user-images.githubusercontent.com/2846578/58511652-3dce7300-8169-11e9-9921-437c2f44661f.png)

The exact layout is contingent on #6. I'd love to also see if we can get these error messages more specific. @tellyworth are we able to know _why_ an install would fail? Do we have a list of error messages we already use for plugin installatio

[2019-05-28 21:47] melchoyce commented on #8
I'm not sure if this is even necessary, but I looked at a way to swap to a different block from your search results if you don't like the block you're currently previewing:

![Swap Block](https://user-images.githubusercontent.com/2846578/58514683-a10fd380-8170-11e9-9334-f1f10d83cb28.png)

(This one's going to require a lot more thought and iteration to get right.)

[2019-05-28 23:59] TimothyBJacobs commented on #5
I really like idea 3. Particularly how it is feels similar to the plugin cards. For me personally, I find the plugin author extremely helpful when deciding what plugin to use. Though perhaps that is a negative. I also pay attention to when a plugin has been last updated. Though, since these are just single blocks, perhaps that metric won't be as important.

I think a way to show more results would

[2019-05-29 00:03] TimothyBJacobs commented on #9
Personally, I'm a fan of option 3. I'm not 100% sure why, but I think its because it'd encourage "simpler" details. I don't think a block should have the same level of details that an entire plugin would.

[2019-05-29 00:18] TimothyBJacobs commented on #6
I really like the simplicity of the idea 1, but still making it very clear that this is a preview, you need to install the block to keep it.

I think a preview of a block should be as close to the real block as technically possible.

Perhaps a similar treatment that reusable blocks get? I think having the install button visible would be great.

I wonder what happens if you try to save while previe

[2019-05-29 04:18] mathetos commented on #9
Sorry in advance for the notification spam, but gotta give a shout out to "Rock your Blocks Off". Nicely done.

[2019-05-29 06:38] boemedia commented on #9
I'd prefer to go for 2 or 3, since those have tags in them. It would be nice to be able to explore from there too. Although it's hard to guess what information one searching already has.
I also haven't been looking at what info is given in the cards that appear after search, so it kind of depends on that too.

[2019-05-29 14:37] melchoyce commented on #9
@TimothyBJacobs In your ideal world, what details would we restrict blocks to?

@boemedia:

I think we can definitely explore that in future iterations on the block library.

I'm envisioning the block cards would match plugin cards.

[2019-05-29 15:52] kjellr commented on #9
I lean towards something more like 3 personally, as I frequently have to sort through way more information than I need on the WP.org plugin screens. I'm usually looking for two simple things:

- Does this do what I want?
- Does it have decent reviews and usage numbers?

For people who need more detailed information, it'd be cool to allow them to click into a more detailed screen from the small pre

[2019-05-29 16:24] TimothyBJacobs commented on #9
I think a description, screenshots, author, rating and last updated. I think tags is probably duplicated by the keywords when registering a block. Maybe limiting the description length as well.

[2019-05-30 18:16] melchoyce commented on #7
@alexislloyd and @jameskoster had a good idea — what if we hid the installation process, and just proceeded as if the block was already installed? Then, on update/publish, we install the block behind-the-scenes?

[2019-05-30 19:36] kjellr commented on #7
How would that effect the block preview then? Would the block preview still have an installation button on it? Or would it basically function as if it were installed?

[2019-05-30 19:37] melchoyce commented on #7
It would function as if it were installed. Need to figure out if this is technically feasible (pinging @tellyworth)

[2019-05-30 20:02] melchoyce commented on #5
Do you think you'd be annoyed if you got linked out to another screen for more results?

[2019-05-30 20:04] melchoyce commented on #6
That relates to [another suggestion](https://github.com/WordPress/block-directory/issues/7#issuecomment-497429818):

[2019-05-31 15:23] melchoyce commented on #9
Bunch of alternate ideas:

![Details-2](https://user-images.githubusercontent.com/2846578/58716177-6f785180-8396-11e9-9b02-2d82a4cf5d8a.png)

[2019-05-31 16:25] TimothyBJacobs commented on #5
If on the other screen I was still able to select the block that I wanted to use, I don't think I'd be annoyed, but I'm not sure what that process would look like exactly.

[2019-05-31 19:38] kjellr commented on #9
This one seems clear and well-organized to me:

![Screen Shot 2019-05-31 at 3 36 11 PM](https://user-images.githubusercontent.com/1202812/58730361-e5da7b00-83b9-11e9-8bc9-b5d5b1baeaf9.png)

One minor suggestion: We could change "Last Updated: 2 weeks ago" to just "Updated 2 weeks ago" to save on a little space.

Also, would it make sense to put the buttons at the bottom of the view instead of the

[2019-05-31 21:37] melchoyce commented on #9
I was using existing strings:

![image](https://user-images.githubusercontent.com/2846578/58735258-deba6980-83c7-11e9-9046-0ae25189de9a.png)

We could try to update the string everywhere, though.

Only problem with that version is what happens if a block has a really long name/author:

![image](https://user-images.githubusercontent.com/2846578/58735880-f72b8380-83c9-11e9-8e65-701fc3a17cf5.png)

We

[2019-06-01 16:58] bemdesign-er commented on #9
I feel that the action buttons will need to occur *after* the description. Yes, it means users have to "tab" through to get there, but... I don't think that's too much of a problem - most users will want to read the description before installing the plugin. We can provide an affordance to keyboard/AT users who don't want/need to read the full description by a "skip-to-actions" link before the desc

[2019-06-01 18:55] melchoyce commented on #9
Thanks @bemdesign-er! Would something like this end up being okay?

![image](https://user-images.githubusercontent.com/2846578/58752473-572f3200-847d-11e9-9d0d-8ab90188c5f9.png)

[2019-06-02 11:52] bemdesign-er commented on #9
I think this is ok.

[2019-06-03 16:38] zeldman commented on #5
5 is the shiz. It’s fast *and* provides more in-depth info, if desired, at one click. Ding ding ding, we have a winner. 💯

[2019-06-03 16:49] mapk commented on #5
Because this is such a tight space, I believe the less, the better. As you've mentioned before, the Author feels like important information and so do the review stars. My first instinct is just the Author as in `Idea 5` above. The `+` icon works great because it's somewhat inline with the Gutenberg inserter icon although a bit different in usage.

In regards to number 5 above, I imagine clicking a

[2019-06-03 17:05] sarahmonster commented on #5
I'm a fan of keeping it slim. What is the most important information a user needs in order to evaluate whether it's what they're looking for? Our user research has indicated that a big part of how people choose things is social proof and/or referrals of some kind, so that might be worth keeping in mind.

Putting on my "typical user" hat, here's what I'd suggest:

- Icon: If this is a developer-pro

[2019-06-03 17:24] sarahmonster commented on #9
Definitely 3 feels like the right approach here. Some people will want more details prior to "committing" to a block, but the options for 1 and 2 feel super overwhelming. Nobody needs that much information.

A picture of the rendered block would probably be super helpful. If that's what a block banner would comprise, then yet. If it's just a shiny unrelated picture, then probably no.

The current

[2019-06-03 18:39] melchoyce commented on #9
Thanks @bemdesign-er and @sarahmonster! I'll make these updates in the higher fidelity version I'm working on in Figma next: https://www.figma.com/file/QKhoOKXkBN2mHacqvrtdNuI6/Gutenberg-Block-Library-Installation?node-id=2%3A15

[2019-06-04 03:07] bemdesign-er commented on #9
As far as the description header, I would keep it. Heading levels help denote different sections of content and help assistive technology users navigate through the content. Feel free to style the heading to be more like a bolder version of the description text if it makes sense for spacing or layout reasons. An `<h3>` doesn't have to "look" like an `<h3>`! All that being said, do be careful to no

[2019-06-04 13:55] mapk commented on #7
I really like this route. Although I think it's important to still indicate that this block isn't quite yet installed. Maybe some messaging in the Inserter? My thinking is that if the user is editing a draft and decides to only save it and then moves to another page/post and tries to add this block there, they may not see it in their Inserter because it's not officially installed. This could cause

[2019-06-04 14:43] mapk commented on #3
Just noting that these will likely change again depending on which route is chosen for Previewing and Installing blocks. The [installing blocks flow](https://github.com/WordPress/block-directory/issues/7) seems like it might change significantly.

[2019-06-04 15:33] melchoyce commented on #5
This is a good idea — I need to think on it more. We'd also want it to work for both blocks and plugins.

I figure we're using whatever algorithm plugins are already using — @tellyworth can you confirm?

Since @sarahmonster says 7 and @mapk says 3, I'm gonna do 5 and we can adjust once we start testing:

![image](https://user-images.githubusercontent.com/2846578/58892623-8ed7ed00-86bc-11e9-8374-c4

[2019-06-04 19:21] melchoyce commented on #9
![image](https://user-images.githubusercontent.com/2846578/58907546-6fe95300-86dc-11e9-8bb7-b1e76b466a40.png)

[2019-06-04 23:22] tomjn commented on #5
QQ: If I were to middle click or open one of those blocks listed, e.g. right click and open in new tab on MetaSlider and SuperSlider so I could see them side by side in a new tab, where would I end up?

[2019-06-05 07:17] tellyworth commented on #7
There's some ambiguity here, but basically I think we should definitely aim for something like this. We're exploring some ideas where it looks like we might be able to essentially register and load a JS block within an isolated iframe, so as to safely(?) run it from source provided by w.org rather than the local site. Or in other words, insert a block that hasn't yet been installed.

There's still

[2019-06-05 13:19] Luciaisacomputer commented on #9
I agree with @bemdesign-er having them after is fine. If someone is using tab shift focus, assuming there are no focusable elements within the description, it shouldn't require much effort to get past the main content and to the action buttons.

[2019-06-05 16:22] melchoyce commented on #7
Love this 👍

[2019-06-07 09:43] sarahmonster commented on #7
It sounds as though this approach is going to be highly reliant on the technical constraints and implementation.

Would a previewed block look and behave the same as an installed block? How likely is a block install to fail? How long would a block take to install? How difficult is it to then uninstall a block?

An alternative option could be for users to just "add" the block to their page (thereby

[2019-06-07 09:55] sarahmonster commented on #6
Instead of a preview, have we considered instead an "immediate install + immediate undo" flow here? If implemented well, it could potentially help by:

- Isolating potential errors to the moment of user interaction, rather than pushing them to the publishing flow.
- Keeping the publish flow more focussed on the action of publishing.
- Facilitating ease of “trying on” a block whilst ensuring 1:1 pa

[2019-06-07 17:16] melchoyce commented on #9
@LukePettway @bemdesign-er:

Double-checking since I'm looking at rearranging the popover again — between these two options, is the second one better for keyboard users?

![image](https://user-images.githubusercontent.com/2846578/59121548-5dfaf080-8926-11e9-956a-78048ea9dfdf.png)

[2019-06-07 20:35] #2 closed, assigned to melchoyce

[2019-06-07 20:35] #3 closed, assigned to melchoyce

[2019-06-07 20:35] #5 closed, assigned to nobody

[2019-06-07 20:35] #8 closed, assigned to nobody

[2019-06-07 20:35] #6 closed, assigned to nobody

[2019-06-07 20:35] #7 closed, assigned to nobody

[2019-06-12 13:15] afercia commented on #9
Thanks everyone for the explorations here 🙂 just a question: based on previous conversations, I thought it was decided to always have the primary button on the left. Recently, we also have moved some buttons from the right to the left to meet this (supposed) new, established, pattern.

Not arguing: whatever the decision is that will be fine. I'd just like to have consistency across the admin, wher

[2019-06-12 13:21] Luciaisacomputer commented on #9
@melchoyce As far as keyboard accessibility is concerned, as long as the content itself is linearized, the button placement isn't going to really matter so either design is fine. Where it would be a problem is if a user had to go through the the content area before they could interact with the primary button.

[2019-06-12 13:56] kjellr commented on #9
👋 Thanks for noting that, @afercia. I know Mel prepared a number of alternate positions for the buttons there. These are from the [Figma doc](https://www.figma.com/file/QKhoOKXkBN2mHacqvrtdNuI6/Gutenberg-Block-Library-Installation?node-id=70%3A17):

<img width="758" alt="Screen Shot 2019-06-12 at 6 32 37 AM" src="https://user-images.githubusercontent.com/1202812/59355534-fc4ad580-8cdb-11e9-8f14-de

[2019-06-12 15:01] sarahmonster commented on #9
Since this button placement issue keeps coming up, I've opened a new ticket to discuss establishing clear guidelines for placement: https://github.com/WordPress/gutenberg/issues/16123

[2019-06-12 18:03] afercia commented on #9
@kjellr thanks for adding more details 🙂

However, I'm not referring to the position of the buttons _group_. As long as buttons are grouped, they can be placed on the left, center, right, depending on the context.

Instead, I'm referring to the position of the _primary_ button (the primary action one) compared to the other buttons within the group.

A while ago, it was agreed (see references above

[2019-07-05 14:27] melchoyce opened #10 "Design Handoff: Block Installation Flow"
**[Prototype Link](https://www.figma.com/proto/QKhoOKXkBN2mHacqvrtdNuI6/Gutenberg-Block-Library-Installation?node-id=370%3A1&viewport=304%2C362%2C0.11120624095201492&scaling=min-zoom)**

---

## Block Library

<img width="1279" alt="Desktop_ Add" src="https://user-images.githubusercontent.com/2846578/60728551-9afad880-9f0e-11e9-8870-e53a76279b8a.png">

For the first round of this project, the defa

[2019-07-09 20:23] #9 closed, assigned to nobody

[2019-07-10 19:23] melchoyce opened #11 "Design Explorations: Error States"
We need to figure out all the potential errors and where there can be points of failure:
- Block can’t install (your internet craps out, etc.)
- What happens if you don’t have permissions
- What else?

Related: #8

[2019-07-10 19:24] melchoyce opened #12 "Design Explorations: Missing Blocks"
What happens if you’re missing a block, or import content with a block you don’t have installed?

Related: #8

[2019-07-10 19:25] melchoyce opened #13 "Document all the ways of removing blocks"
Just for reference.

[2019-07-10 20:10] melchoyce commented on #11
**If we can't preview the block for some reason, like a WordPress.org outage:**

![image](https://user-images.githubusercontent.com/2846578/61001121-f83ac380-a32c-11e9-9335-3990b6564d39.png)

@ck3lee do you know if we have existing error strings for something like this? If not, we'll want to write one.

**If the installation fails (but the block can preview):**

![image](https://user-images.github

[2019-07-10 20:14] melchoyce opened #14 "Design Explorations: Installed results that are disabled"
What if you search for something a plugin you've downloaded includes, but you've disabled it?

[2019-07-10 20:17] melchoyce commented on #11
**Permissions**

If you don't have administrative permissions (or any custom permission that allows installation of new plugins), let's show the existing message for search results:

<img src="https://user-images.githubusercontent.com/2846578/61001715-28369680-a32e-11e9-9b73-d19e9e634839.png" width="400" />

[2019-07-10 20:33] melchoyce commented on #12
If the block is present in the Block Directory:

![image](https://user-images.githubusercontent.com/2846578/61002918-a2681a80-a330-11e9-908e-a95a2caae818.png)

If it's not, we should probably leave as-is:

![image](https://user-images.githubusercontent.com/2846578/61002801-62a13300-a330-11e9-9b84-12371be03888.png)

[2019-07-10 20:46] melchoyce commented on #14
One idea (that would need copy help):

![image](https://user-images.githubusercontent.com/2846578/61003526-279fff00-a332-11e9-8210-53a81cc0b232.png)

Or, we could reduce the opacity on the disabled result:

![image](https://user-images.githubusercontent.com/2846578/61003570-47372780-a332-11e9-9b02-6cdc082eb171.png)

(The colors exported weird, but that "enable" link is regular link blue)

[2019-07-11 06:46] boemedia commented on #11
In the last case, is it possible to show the blocks but greyed out, with a message saying:
"Your current role doesn't allow installing new blocks. Contact your website's administrator."

[2019-07-11 12:30] kjellr commented on #14
Would it make sense to have the "Enable" link be a button here?

[2019-07-11 13:44] melchoyce commented on #14
I was worried it'd get noisy if you have a bunch of disabled results, but I'll try mocking it up 👍

[2019-07-11 14:03] melchoyce commented on #14
![image](https://user-images.githubusercontent.com/2846578/61057324-10f5b880-a3c3-11e9-90c6-10675e88d175.png)

[2019-07-11 14:03] melchoyce commented on #14
Other idea — don't show an enable button at all, and instead turn the block back on if they select one.

[2019-07-11 14:12] kjellr commented on #14
This is reminding me a little bit of the problem we ran into over in https://github.com/WordPress/gutenberg/pull/14224.

In the end, we just went with a checkbox, but here are definitely some relevant explorations in the following comments:

- https://github.com/WordPress/gutenberg/pull/14224#issuecomment-470320183
- https://github.com/WordPress/gutenberg/pull/14224#issuecomment-470565552
- https:

[2019-07-11 14:27] melchoyce commented on #14
Related (h/t @karmatosed): https://github.com/WordPress/gutenberg/issues/15121

[2019-07-11 14:40] mapk commented on #14
@melchoyce I really like the last idea of just showing the blocks without additional links or buttons. The text at the top explains what's going on; "We did find these other disabled blocks." Of course, that might need a copy review.

Once the user selects a block, it's automatically enabled again. 👍

This keeps the Block Inserter (Library) from getting too complicated. Especially in light of the

[2019-07-11 14:57] melchoyce commented on #14
Alright, then we can go straight-forward:

![image](https://user-images.githubusercontent.com/2846578/61061636-9a5cb900-a3ca-11e9-8a8d-8f945b60ae62.png)

[2019-07-11 19:56] karmatosed commented on #12
Would creating a placeholder or style around this be nice? I am thinking of for example in Facebook when a page is loading the background color/style of those.  My thinking is otherwise it gets lost, this may be a fix to have in Gutenberg itself.

[2019-07-11 19:57] melchoyce commented on #11
Maybe like:

![image](https://user-images.githubusercontent.com/2846578/61081155-8f1e8300-a3f4-11e9-8256-a1cc6bb14f54.png)

[2019-07-11 19:58] karmatosed commented on #11
I like that as an option over having greyed out. I feel if we showed greyed out blocks it could taunt the user.

[2019-07-11 20:08] melchoyce commented on #12
If someone's added custom styles to their block, the block itself might display just fine on the front-end. With a shortcode, you'll also want to know what shortcode you'd added to that page. Because of this, we should still show whatever content they're trying to load in the editor instead of replacing it with a placeholder, IMO.

[2019-07-11 22:27] ck-lee commented on #12
The design looks good to me!

From dev's perspective, I think it should be OK to render the "unsupported block" in the editor. I will try and see, including any custom styles. Will let you know...

[2019-07-11 22:42] ck-lee commented on #11
No, I couldn't find any existing error strings. I only found a couple that are generic and technical like
`The response is not a valid JSON response.`. So, we might need to write them.

[2019-07-11 22:52] ck-lee commented on #11
LGTM! I think the two scenarios: "can't preview the block" and "installation fails" should capture all the unexpected failure points. I will drop a comment here if I can think of anything else.

[2019-07-11 22:56] ck-lee commented on #10
Pull Request for the block editor: https://github.com/WordPress/gutenberg/pull/16524 in progress.

[2019-07-12 00:08] melchoyce commented on #12
FWIW, Gutenberg currently does render the content of the unsupported block — that's where that shortcode screenshot comes from. For example, here's the Block Gallery plugin, _after_ being disabled:

![image](https://user-images.githubusercontent.com/2846578/61093246-88edce00-a417-11e9-8f0b-65f571668ece.png)

[2019-07-15 03:42] ck-lee commented on #11
@melchoyce, I'm finding it very tricky to implement the actions in the notice bar. I am finding out more from the Gutenberg dev team now.

In case, it is a mission to add the actions like "Retry" or "Remove block", is it OK to remove them?

[2019-07-15 23:18] melchoyce commented on #11
As long as we can add them to a later roadmap and follow up, I think it's okay to drop from the v1.

[2019-07-17 23:14] ck-lee commented on #11
Thank you @melchoyce. Looks like we can do a "Retry". 😄

By default all "non-url actions" in the notice are rendered as buttons instead of links. I think it might be semantically more appropriate for a11y. But happy to re-style that as a link too.

Still a WIP. But here is what is looks like:
![screencast 2019-07-18 10-55-16](https://user-images.githubusercontent.com/5370495/61417862-d654c880-a94c

[2019-07-17 23:15] ck-lee commented on #11
And for user without permission to install a block.

This is how it looks like:

![screencast 2019-07-18 10-57-12](https://user-images.githubusercontent.com/5370495/61418015-42373100-a94d-11e9-8d3e-82e2a49590ab.gif)

[2019-07-22 00:18] ck-lee commented on #14
Hi @melchoyce, I've started to implement this but I hit a road bump.
The issue is, with the way the inserter works, these disabled blocks are actually closer related to "blocks that are not installed" than "blocks that are installed".

For example:

- If `listicle` block is installed, but disabled.
- Typing "list", **it is difficult to show `listicle` as a result among the enabled blocks**.
- If i

[2019-07-22 14:14] melchoyce commented on #14
Let's hide disabled blocks from results for the v1.

[2019-07-22 17:42] karmatosed commented on #11
@melchoyce I wonder if the 'no blocks' could be an opportunity for a cute little graphic? Like a sad block. It's just an idea.

[2019-08-18 14:33] MelinEdo commented on #10
Hey, I 've been at Contribution day at WordCamp Brighton and have some feedback on _adding blocks to posts._

**Ideas on User Permissions:**
- There should be an option for each user (when being created) whether they should have permission to add block templates or not.
- Technically it should be allowed for all users but admins should be able to control who has the permissions to have control ove

[2019-08-20 03:47] ck-lee commented on #10
Thank you for your feedback, @MelinEdo. I find these early feedbacks very valuable when implementing the feature.

I will see what we can do to help make the block search and results view more intuitive and less overwhelming. This is an interesting design challenge. It is like squeezing an app store into a tiny menu here.

Good catch on the padding below the grey box. I will fix them.

Let me know

[2019-08-20 11:56] MelinEdo commented on #10
Thank you @ck-lee . Happy to hear feedback is useful. I can see the challange here for sure!

I'll keep an eye out here to see the revised designs :)
Good luck with it all

[2019-08-20 12:19] karmatosed opened #15 "Consider adjusting or removing help panel"
Currently, on search, you see:

![image](https://user-images.githubusercontent.com/253067/63346501-0678f800-c34d-11e9-8096-5548acaccd07.png)

I wonder if this should be either closed or should be adjusted somehow when searching for blocks?

[2019-08-20 12:20] karmatosed commented on #14
Just checking in on the status of this so we can keep this repo synced and updated with issues. @ck-lee is this now implemented?

[2019-08-20 12:21] karmatosed commented on #13
I think you've done this now @melchoyce, can you confirm?

[2019-08-20 12:21] karmatosed commented on #12
Can you confirm @melchoyce this is now completed?

[2019-08-20 12:22] karmatosed commented on #11
Just checking back on this, could it be in v1 to explore a little visual variation beyond text?

[2019-08-20 14:24] melchoyce commented on #12
Unless anyone has more feedback, then yes 👍

[2019-08-20 14:26] melchoyce commented on #15
I think this is a question for the Gutenberg repo as a whole — the search behavior is native to Gutenberg, whether or not is shows results from the block directory.

[2019-08-20 14:26] melchoyce commented on #13
I didn't, but I don't remember why I wanted to in the first place, so let's close 🤷‍♀

[2019-08-20 14:26] #13 closed, assigned to melchoyce

[2019-08-20 14:30] melchoyce commented on #11
Should we explore this in Gutenberg core? We're hooking in to the core "no results" pattern.

[2019-08-20 17:03] #12 closed, assigned to melchoyce

[2019-08-20 17:04] karmatosed commented on #11
Sure, I will make issue for this also.

[2019-08-20 17:05] melchoyce commented on #11
Thanks, feel free to assign it to me.

[2019-08-20 23:11] ck-lee commented on #15
![screencast 2019-08-21 11-02-56](https://user-images.githubusercontent.com/5370495/63390495-75b12380-c403-11e9-8e69-41c2fb9b331b.gif)

The current implementation will show more information of the (installed) block when mouse hover-over. I think we can take advantage of the new panel. But I'm not sure about doing it for v1. Keen to hear what you think.

[2019-08-20 23:29] ck-lee opened #16 "Block directory user permission"
For discussion:

Default WordPress only allows `Admin` role to install blocks, other more commonly used roles like `Editor` and `Author` do not have the right permission to search and install blocks.

This makes it harder for non-admins who build pages take advantage of the block directory feature.

Is this a real problem?

If it is a problem, how can we make this better?

[2019-08-21 10:12] karmatosed commented on #11
@melchoyce https://github.com/WordPress/gutenberg/issues/17122 is where started that issue.

[2019-08-27 15:39] melchoyce commented on #15
How about something like this?

![inserter-panel](https://user-images.githubusercontent.com/2846578/63786037-5c0a5300-c8bf-11e9-845f-05e568b7fd53.png)

(Needs a copy review)

[2019-08-28 22:47] ck-lee commented on #15
Looks good to me.

However, the current implementation makes it difficult for `block-directory` to override/extend the help panel.

I will try to get the main PR https://github.com/WordPress/gutenberg/pull/16524 merged. And then tackle this issue separately.

[2019-09-04 17:38] melchoyce opened #17 "How should we handle searching?"
How should we handle searching sections of the block directory?

I have a couple ideas...

## Search in Tabs

![image](https://user-images.githubusercontent.com/2846578/64277250-dec28c00-cf17-11e9-9853-0cef3642ffb8.png)

### Pros
- By opening search as its own page, we can show recommendations, as in [this "Add Blocks" search screen](https://www.figma.com/file/Y4jCNPkjCuSRiGYEoaAZujhm/Gutenberg-Bl

[2019-09-05 16:04] shaunandrews opened #18 "Proposal: Consider guidelines for how blocks are listed in the inserter"
Right now, the way blocks are listed in the inserter is very open — its the Wild West. For example, if I install CoBlocks I get two new sections in the inserter's list of blocks:

<img width="381" alt="image" src="https://user-images.githubusercontent.com/191598/64357550-d8ddb100-cfd2-11e9-94a0-b33872292317.png">

If I also install the Jetpack, Atomic Blocks, and Ultimate Addons Blocks plugins, I

[2019-09-06 16:41] melchoyce commented on #17
One more idea that came up in [this week's design chat](https://wordpress.slack.com/archives/C02S78ZAL/p1567622561392700):

## Inline in the Tab Bar

![image](https://user-images.githubusercontent.com/2846578/64444989-68eb2b80-d0a3-11e9-830e-68b0551ddc9a.png)

### Pros
- Always visible
- Natural placement

### Cons
- Not all pages have a filter bar
- The filter bars that do exist are quickly filli

[2019-09-06 17:33] mapk commented on #17
While it may not _look_ especially beautiful, I'm preferable to the "Inline in the Tab Bar" approach. It provides the quick functionality that I'd like as a user. And it also provides a fairly consistent placement of the search that wouldn't change from page to page. As @enriquesanchez commented, would the search, in this placement search across all tabs, or just the tab selected?

Maybe the searc

[2019-09-06 20:30] melchoyce commented on #17
Okay, explored the header & search bar within the tab bar options more:

## Header

![blockdirectory-search-header](https://user-images.githubusercontent.com/2846578/64458453-5ed92500-d0c3-11e9-80c7-04b3537e8ccc.png)

1. Click on "Search" to toggle open a search bar in the body of the page you're currently on.
2. Type a search term and press enter to search.
3. Search results open in a new page, w

[2019-09-07 16:21] karmatosed commented on #18
I love the idea of some guidelines here. For me, this could solve some complicated experiences we are starting to see and will only get worse.

[2019-09-09 14:31] kjellr commented on #17
The Header option actually feels odd to me now that I'm seeing it there. A couple things stand out:

- It seems weird to have the actual search bar appear so far away from the button that's been pressed.
- The persistent active state makes it seem like those buttons up there are functioning like a second, higher-level tab bar. I'd thought of those as just one-off click buttons, so that seems a lit

[2019-09-23 20:21] mapk commented on #18
I believe blocks allow a "category" to be defined. For example, my P5.js single block plugin has `category: 'formatting',` defined in the block.js file.

![Screen Shot 2019-09-23 at 1 19 58 PM](https://user-images.githubusercontent.com/617986/65459494-e41f4200-de04-11e9-97be-4c4f9d09306c.png)

Single block plugins should be taking advantage of this to insert their block in a pre-existing category

[2019-09-25 13:53] shaunandrews commented on #18
@mapk I’m suggesting we help avoid this by offering written guidelines and consider restricting the freedom developers have when it comes to creating groups and sorting blocks.

[2019-10-11 16:35] kwight commented on #18
What if we just... never allowed it? Is there any downside, from the community point of view?

[2019-10-13 19:07] mtias commented on #18
Also related: https://github.com/WordPress/gutenberg/issues/16866

[2020-05-11 05:05] StevenDufresne commented on #14
@karmatosed This doesn't appear to be implemented yet.

[2020-05-11 05:14] StevenDufresne commented on #14
@melchoyce @karmatosed @ck-lee

Is this a problem with the block directory or custom blocks in general? If I manually install a block, then disable it, do I not follow the same path?

The reason why this distinction matters is that the problem that @ck-lee ran into is a problem with the logic in Gutenberg's 'core' library, more specific: the `inserter`. If that is the case, I think we should consi

[2020-05-11 05:26] StevenDufresne commented on #15
@melchoyce I am unable to find this view in Gutenberg @master. It appears like it was removed in favor of a floating block preview. If it no longer applies, can we close this out? :)

[2020-05-11 06:18] StevenDufresne commented on #14
Disregard my previous comment 😳🙂.

I've had a few chats and I think the block directory is the better place to address this :)

[2020-05-11 14:04] melchoyce commented on #15
👍

[2020-05-11 14:04] #15 closed, assigned to melchoyce

[2020-11-09 17:04] MichaelArestad commented on #10
I'm closing this as it has been implemented and there is already [further iteration currently in progress](https://github.com/WordPress/gutenberg/pull/25521).

[2020-11-09 17:04] #10 closed, assigned to tellyworth

[2020-11-09 22:52] MichaelArestad opened #19 "Block directory design explorations"
We need a place for folks to browse and install blocks in both wp-admin and on WordPress.org. I recently [proposed a prototype on the Make Design blog](https://make.wordpress.org/design/2020/10/27/block-directory-v2/). I will reiterate the main points here for discussion and then go over the changes.

## The prototypes

Here is an updated version of the [wp-admin prototype](https://www.figma.com/p

[2020-11-09 22:56] MichaelArestad opened #20 "Generate images of block examples"
We need an efficient way to show block examples in the block directory. Image generation seems like the most promising route.

[2020-11-09 23:10] MichaelArestad opened #21 "Block Directory Implementation Checklist"
This is an implementation task list for the block directory.

## wp-admin

- [ ] [Implement new page header](https://core.trac.wordpress.org/ticket/51751#ticket)
- [ ] [Implement block cards](https://github.com/WordPress/block-directory/issues/22)
- [ ] [Create demo editor](https://github.com/WordPress/block-directory/issues/23)
- [ ] Add demo to existing block detail pages
- [ ] Implement the blo

[2020-11-09 23:16] iandunn commented on #19
I like it. The one thing that stuck out to me was that the demo doesn't have a heading like the other sections, so it feels a little unclear. It's one of those things where I can guess what it is, but would feel more comfortable if there was an explicit label.

There may also be a11y issues if there isn't a semantic label? It may also be an opportunity to let people know that it's an interactive e

[2020-11-09 23:53] MichaelArestad commented on #19
@iandunn Thanks!

That's not a bad idea. I initially dropped the label as it felt a bit out of place due to the editor frame, but I'll work one back in.

[2020-11-10 15:38] MichaelArestad commented on #19
Here are a few options. The first labels the editor in the toolbar at the top of the editor. I don't love this as it's the spot we will be using for other actions in the editor around templates.

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/1123119/98694187-654dd700-232e-11eb-8d3d-5b23eaf9617b.png">

The label works pretty well if I remove the frame. That said, the

[2020-11-10 15:54] iandunn commented on #19
Yeah, I like that hybrid approach 👍🏻

[2020-11-10 21:56] MichaelArestad opened #22 "Block cards"
A key component to the design of [the proposed block directory design](https://github.com/WordPress/block-directory/issues/19) is the Block Card. This card is a combination of design elements and the design language seen in Gutenberg.

Here is a quick breakdown of the components:

![Block cards](https://user-images.githubusercontent.com/1123119/98737510-867cea80-2363-11eb-8c03-3e79e1aa1c4a.jpg)

*

[2020-11-11 17:49] MichaelArestad opened #23 "Block demo editor design exploration"
The block detail view will include a demo of the block with an instance of the Gutenberg editor in order to let a user interact with a block before installing it. For the most part, it should be fairly identical to the standard Gutenberg editor in WordPress.

![editor-anatomy](https://user-images.githubusercontent.com/1123119/98845217-a0bdd380-240a-11eb-9e51-4653356fa3f1.jpg)

**Editor label** - I

[2020-11-16 17:21] MichaelArestad commented on #19
Backing up a bit, I want to take a second to show what this could look like in an actual flow (rather than a component breakdown). [Here is a prototype](https://www.figma.com/proto/dHtjHdh8lZm0DinGKP8MmT/Block-Directory?node-id=2042%3A1921&viewport=-1411%2C484%2C0.25&scaling=min-zoom) that goes through the flow: `I am on my dashboard and I want to install a block.`

![2020-11-16 10 06 02](https://